.bi {
    line-height: 1;
    vertical-align: -.125em;
}

.nav-link:focus-visible {
    box-shadow: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .main {
        flex: 1;
    }
}
