.login {
    padding: 10% 1rem 0;

    .login-wrap {
        max-width: 400px;
        margin: 0 auto;

        .title {
            display: flex;
            align-items: baseline;
            line-height: 2rem;
            margin-bottom: 2rem;

            h1 {
                font-size: 1.5rem;
                color: $primary-color;
                ;
                margin: 0 .5rem 0 0;
            }

            span {
                color: #888;
                margin-right: .5rem;
            }
        }
    }
}
